# Importações

In [1]:
import requests
import pandas as pd
from datetime import date, timedelta

# Variaveis

In [2]:
num_meses=12

# Funçoes

In [3]:
#Funcao que busca os dados e devolve em um dataframe
def get_ipca(numero_meses):
    #data final para serie historica
    data_fim=date.today()

    #data inicial para serie historica conforme o numero de meses a serem extraidos
    data_ini=date.today() - timedelta(days=numero_meses*30)
    
    #construção da URL com o intervalod das datas
    url="https://api.bcb.gov.br/dados/serie/bcdata.sgs.16121/dados?formato=json&dataInicial="+data_ini.strftime("%d/%m/%Y")+"&dataFinal="+data_fim.strftime("%d/%m/%Y")
    
    #Requisição dos dados
    rq = requests.get(url)
    
    #resultado da requisão 
    if rq.ok :
        print ("Conexção API OK")
    else:
         print ("Conexção API NOT OK")
    
    #transformação da resposta em um DataFrame
    df = pd.DataFrame.from_dict(pd.json_normalize(rq.json()), orient='columns')
    df.head()
    return(df)

# Main

In [4]:
#chamada do servico para extração de dados do IPCA
df_ipca=get_ipca(num_meses)

Conexção API OK

In [5]:
#Resultados da Extração
df_ipca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    12 non-null     object
 1   valor   12 non-null     object
dtypes: object(2)
memory usage: 320.0+ bytes

In [6]:
df_ipca.head()

         data  valor
0  01/01/2020   0.17
1  01/02/2020   0.35
2  01/03/2020   0.04
3  01/04/2020   0.01
4  01/05/2020  -0.19